.footer-container {
  background-color: $color-dark-blue;
}
.footer {
  display: grid;
  justify-content: center;
  min-height: 22rem;
  position: relative;
  header {
    padding-top: 30px;
    padding-bottom: 23px;
    display: flex;
    align-items: center;
  }
  ul {
    list-style-type: none;
    text-transform: uppercase;
    margin-bottom: 0px;
    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      text-align: center;
      a {
        color: white;
        font-weight: 400;
        font-size: calc(0.4rem+2.4vw);
      }
    }
  }
  .icons {
    display: flex;
    justify-content: space-evenly;
    img:first-child {
      width: 22px;
      height: 22px;
    }
    img:last-child {
      width: 26.4px;
      height: 22px;
    }
  }
  .attribution {
    width: 100%;
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 11px;
    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
